node_modules
*.vsix

# JetBrains plugin build artifacts
electronic-moonlight-jetbrains-plugin.zip
jetbrains-plugin/build/
jetbrains-plugin/.gradle/
jetbrains-plugin/lib/
jetbrains-plugin/temp-jar/
jetbrains-plugin/resources/
/META-INF/
